
a {
    color: #EB1478;    
}

a:hover {
    color: #a50e54;
    text-decoration: underline;    
}

strong{
     color: #eb1478;
}


.tamano-icon {
    width: auto;
    height: 90px;
}


.cuadrado {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 0px;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.div-sombreado{
    background-color: #f5f5f5;  
}

.div-sombreado-blanco{
    background-color: #ffffff;  
}

.div-sombreado-negro{
    background-color: #000000;  
}

.titulo-cuadrado{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
}

.titulo-cuadrado-negro {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 36px;
    color: #000000;
    text-align: center;
}

.titulo1-cuadrado-negro {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #000;
    text-align: center;
}


.titulo {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 40px;
    line-height: 26px;
    letter-spacing: 0;
    margin-top: 0;
}

.titulo2 {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #2a2a2a;
}

.titulo-negrita-rosa{
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4em;
    margin-top: 20px;
    color: #eb1478;
    font-size: 30px;
}

.titulo-negritas{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.3em;
    color: inherit;
    text-align: center;
}


p{
    color: #6a6a6a;
    margin-top: 30px;
}


.elemento {
    color: #ffffff;
    text-align: left;
}

.elemento-p {
    color: #6a6a6a;
    text-align: left;
}



.elemento-p1 {
    color: #6a6a6a;
    text-align: left;
    font-size: 16px;
    line-height: 23px;
}

.elemento-p2 {
    color: #000000;
    text-align: left;
}

.elemento-centrado {
    color: #ffffff;
    text-align: center;
}

.elemento-p-centrado {
    color: #6a6a6a;
    text-align: center;
}

.cariuselCuadroFijo {
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0%;
    padding-bottom: 74px;
}

#carousel-CuadroDeRegistro{
    background-color:#ffffff;
    padding: 1px 80px 60px 40px;
    margin-top: 84px;
    text-align: left;
}

.indicadores-carousel{
    margin: 430px 0px 5px 60px;
    padding: 5px;
}

.link-carousel{
    padding: 200px 5px 50px 60px;
}

.link-carousel a{
    color: white;
    text-decoration: underline;
}

.link-carousel a:hover{
    color:white;
}



footer {
    background: #f5f5f5;
    color: #2a2a2a;
    padding: 60px 0 0 0;
    text-align: left;
    
}


footer a {
    text-decoration: none;
    color: #2a2a2a;
    text-align: left;
}

footer a:hover {
    text-decoration: underline;
    color: #2a2a2a;
    text-align: left;
}


footer a {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 14px;
    font-weight: normal;
    line-height: 0px;

    /*
    color: #2a2a2a;
    text-decoration: none;
    text-align: left; */
}



footer header {
    font-family: "Benton Sans","Helvetica","sans-serif";
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #6a6a6a;
    
}

.img-small{
    width: 140px;
    height: 70px;
}

.bg-dark {
    background-color: #fff !important;
}

.nav-link{
    color: #2a2a2a !important;
    font-weight: bold;
    font-family: "Helvetica";
    font-size: 14px;
    line-height: 20px;
    margin: 0 0px 0 0px;   /* poner 0px  */
}

.nav-link:hover{
  color: #EB1B9D !important;
}

.navbar{
  padding-bottom: 10px;
}

.barra-vertical{
  width: 1px;
  height: 40px;
  border: 0.2px solid;
  border-color: #d7d7d7;
}

.container {
    max-width: 1280px;
    text-align: center;
    font-family: "Helvetica";
    color: #2a2a2a;
}

.fm{
  padding: 195px 40px 195px 40px;
}

.fm h2{
  font-size: 38px;
  margin-bottom: 15px;  
  font-family: 'Domine',serif;
  color: #323232;
}

.fm p{
  color: #604343;
  font-size: 15px;

}

.barra-financiamiento{
    background-color: #dddddd;
    margin-bottom: 20px;
    height: 7px;
    width: 60%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.barra-rellena{
    border-radius: 5px 0 0 5px;
    width: 78%;
    height: 7px;
    background-color: #35CA97;
}

.obj-market{
    color: #e7b814;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px;
}

.contenido-intermedio{
    font-size: 15px;
    margin-top: 50px;
    color: #2a2a2a;
    line-height: 20px;
    font-family: "Benton Sans Medium","Helvetica","sans-serif";
}

h6{
    font-weight: bold;
}

.fa-3x{
    color: #EB1478;
    margin-bottom: 10px;
}

h3{
    font-weight: bold;
    margin-top: 30px;
}

.btn-light{
    border: 2px solid #2A2A2A;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}

.btn-light:hover{
    color: white;
    background-color: #2A2A2A;
}

.recuadros{
    padding: 30px 5px 30px 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

.recuadros:hover{
    background-color: #F2F2F2;
}

.recuadros p{
    color: #2a2a2a;
    font-size: 10px;
    font-weight: bold;
}

.modal-content{
    max-width: 300px;
    margin-left: 100px;
}

.recuadros a:hover{
    text-decoration: none;
}

.imgs{
    margin-top: 20px;
}

.imgs p{
    margin-top: 20px;
    color: #2a2a2a;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.imgs a{
    text-decoration: none;
}

.btn-rosa1{
    background-color: #EB1478;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 9px 35px 9px 35px;
    margin-top: 20px;
}

.btn-rosa1:hover{
    color: white;
}

.btn-rosa2{
    background-color: white;
    color: #EB1478;
    font-weight: bold;
    font-size: 15px;
    padding: 9px 35px 9px 35px;
    border:2px solid #EB1478;
    margin-top: 20px;
}

.btn-rosa2:hover{
    background-color: #EB1478;
    color: white;
}

.btn-facebook{
    background-color: #3C5A99;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.btn-facebook:hover{
    color: white;
    background-color: #5375BB;
}

h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

.rsaquo p{
    text-align: right;
    color: #2a2a2a;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.rsaquo p:hover{
    color: #EB1478;
    text-decoration: none;
}

.rsaquo{
    margin-top: 30px;
}

.log-sign{
    text-align: left;
    margin-bottom: 100px;

}

.formularios{
    background-color: white;
    padding: 15px 15px 15px 15px;
}


.recuadro-left{
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    margin-left: 130px;
    padding: 50px 20px 50px 20px;
    margin-bottom: 30px;
}

.recuadro-right{
    border-radius: 5px;
    border: 1px solid #E2E2E2;
    margin-right: 130px;
    padding: 50px 20px 0px 20px;
    margin-bottom: 30px;
}

.recuadro-left:hover{
    background-color: #F0F0F0;
    border-color: black;
}

.recuadro-right:hover{
    background-color: #F0F0F0;
    border-color: black; 
}                       

.recuadro-left a{
    color: #2a2a2a;
}

.recuadro-right a{
    color: #2a2a2a;
}

.recuadro-left a:hover{
    text-decoration: none;
}

.recuadro-right a:hover{
    text-decoration: none;
}

.normal-text{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 90px;
}

.centrado{
    max-width: 980px;
    margin-left: 140px;
}

.pink-link a{
    color: #EB1478;
}

.pink-link{
    margin-top: 90px;
}

row img{
    background-size: cover;
    background-repeat: no-repeat;

}

.img-centradas{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding-top: 140px;
    padding-bottom: 140px;
}

.img-centradas p{
    max-width: 750px;
    margin-left: 300px;
    color: white;
}

.texto h2{
    color: #EB1478;
}

.texto{
    margin-bottom: 60px;
    max-width: 450px;
    margin-left: 60px;
}

.contact{
    color: #EB1478;
    text-align: left;
}

.contact .input-group{
    border: 1px solid gray;
    border-radius: .10rem;
}

.contact a{
    color: #EB1478;
}

.help-header{
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.help-content{
    color: black;
    text-align: center;
    position: relative;
    margin: 0 420px 20px 420px;
}

.help-content .input-group{
    width: 80%;
    margin-left: 50px;
}

.input-group-text{
    background-color: white;
    border: 1px solid white;
    border-radius: .10rem;
}

.mb-3 .form-control{
    border-color: white;
    border-radius: .10rem;
}

.mb-3, .my-3{
    margin-bottom: 0 !important;
}

.help-cards{
    border: 1px solid #E2E2E2;
    padding: 30px 15px 30px 15px;
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 14px;
    background-color: white;
}

.help-cards:hover{
    border: 1px solid pink;
}

.help-cards h5,a{
    font-weight: bold;
}

.help-img{
    margin: 0 0 20px 0;
    max-height: 75px;
}

.help-footer{
    background: #f5f5f5;
    color: #2a2a2a;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.custom-select{
    width: 55%;
}

#div-explorar{
    display: none;
    transition: all 3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
    position: absolute;
}

.container-explorar{
    width: 100%;
    text-align: left;
    font-family: "Helvetica";
    color: #2a2a2a;
    font-size: 12px;
}

.explorar-header{
    background-color: white;
    min-height: 200px;
    padding: 60px 100px 15px 100px;
}

.explorar-footer{
    background-color: #F0F0F0;
    min-height: 200px;
    padding: 20px 100px 20px 100px;
    line-height: 22px;
}

.explorar-footer p{
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 15px;
}

.explorar-header-item{
    background-color: #F0F0F0;
    min-height: 100px;
    max-width: 80%;
}